<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<title>Edit Card Sort</title>
		<script>
			$( document ).ready(function() {
			    $("[name='studyType']").change(function() {
				  $("#groupInputArea").toggle();
				});
				//group input area is hidden by default, if study is 'closed' - toggle it to be visble
				//this might be difficut to include in an external js file todo.
				<%if (singleStudy.data.studyType == 'closed') { %>
					$("#groupInputArea").toggle();
				<% } %>
				$('#createNewResponseBtn').on('click', function(event) {
			      	$.ajax({
				        url: '/createresponse_ajax/<%= singleStudy._id %>',
				        type: "POST",
				        contentType: "application/json",
				        success: function(response) {
				          	$(`<tr>
							<td><a href='/cardsort/<%= singleStudy._id %>/`+response._id+`'>/cardsort/<%= singleStudy._id %>/`+response._id+`</td>
							</tr>`).appendTo($('#responses_table_body'));
				        },
				        error:   function(xhr, text, err) {
			          		console.log("Response: Please check ajax request");
				        }
			      	});
			    });  

			});
		</script>
	</head>
	<body>
	<%- include('../partials/admin_header.ejs') %>
	<div class="container">
		<h3>Study Options</h3>
				<hr>
		<form method="POST" action="/updatecardsort">
			<input hidden name='id' value='<%= singleStudy._id %>' />
			<div class='row'>
				<div class='col-sm-4'>
					<p><label for="title">Card Sort Title</label>
					<input style='width:100%' name="title" id='title' type="text" value="<%= singleStudy.title %>"></input></p>

					<p><label>Status</label>
   				     <%if (singleStudy.status == 'open') { %>
				    <div class="radio-inline">
				     	<label><input type="radio" name="status" value='open' checked>Open</label>
				    </div>
				    <div class="radio-inline">
						<label><input type="radio" name="status" value='closed'>Closed</label>
				    </div></p>
				    <% } else { %> 
				    <div class="radio-inline">
				     	<label><input type="radio" name="status" value='open'>Open</label>
				    </div>
				    <div class="radio-inline">
						<label><input type="radio" name="status" value='closed' checked>Closed</label>
				    </div></p>
				    <% } %>
				    
				    <label for="title">Card Sort Study Type</label><br>
				    <p>Set this to "open" if you want participants to be able to add new groups and change the names of existing.

				    <%if (singleStudy.data.studyType == 'open') { %>
				    <div class="radio-inline">
				     	<label><input type="radio" name="studyType" value='open' checked>Open</label>
				    </div>
				    <div class="radio-inline">
						<label><input type="radio" name="studyType" value='closed'>Closed</label>
				    </div></p>
				    <% } else { %> 
				    <div class="radio-inline">
				     	<label><input type="radio" name="studyType" value='open'>Open</label>
				    </div>
				    <div class="radio-inline">
						<label><input type="radio" name="studyType" value='closed' checked>Closed</label>
				    </div></p>
				    <% } %>
				    <%if (singleStudy.private == true) { %>
				    <div class="checkbox">
				      <label><input type="checkbox" name="private" checked>Private</label>
				    </div>
				    <% } else { %>
				   <div class="checkbox">
				      <label><input type="checkbox" name="private">Private</label>
				    </div>
				    <% } %>
				 
				</div>
				<div class='col-sm-4'>
					<label for="cards">Cards</label>
					<br>
					<textarea name="cards" rows="15" cols="30" id="cards"><% for(var j=0; j<singleStudy.data.cards.length; j++) {%><%= singleStudy.data.cards[j]+'\n' %><% } %></textarea>
				</div>
				<div class='col-sm-4' id='groupInputArea' hidden>
					<label for="groups">Groups</label>
					<br>
					<textarea name="groups" rows="15" cols="30" id="groups"><% for(var j=0; j<singleStudy.data.groups.length; j++) {%><%= singleStudy.data.groups[j]+'\n' %><% } %></textarea>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<button type="submit" class="btn btn-primary">Save</button>
					<a href="/studies" class="btn btn-default" role="button">Cancel</a>
				</div>
			</div>
		</form>


		<h3>Responses</h3>
		<hr>
  		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>ID</th>
				</tr>
			</thead>
			<tbody id="responses_table_body">
			<% for(var z=0; z < singleStudy.incompleteResponses.length; z++) {%>
				<tr>
					<td><%= singleStudy.incompleteResponses[z]._id %></td>
				</tr>
			<% } %>
			</tbody>
		</table>
		<div style="background-color: white">
			<button type="button" id='createNewResponseBtn' class="btn-link text-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
		</div>
	</div>			
	
	</body>
</html>
