<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<title>Edit Cardsort</title>
	</head>
	<body>
	<%- include('../partials/admin_header.ejs') %>
	<div class="container">
		<form method="POST" action="/updatecardsort">
			<input hidden name='id' value='<%= singleStudy._id %>' />
			<div class='row'>
				<div class='col-sm-4'>
					<label for="title">Title</label><br><input style='width:100%' name="title" id='title' type="text" value="<%= singleStudy.title %>"></input><br><br>
				    <label for="title">Type</label><br>
				    <%if (singleStudy.studyType == 'open') { %>
				    <div class="radio-inline">
				     	<label><input type="radio" name="studyType" value='open' checked>Open</label>
				    </div>
				    <div class="radio-inline">
						<label><input type="radio" name="studyType" value='closed'>Closed</label>
				    </div>
				    <% } else{ %> 
				    <div class="radio-inline">
				     	<label><input type="radio" name="studyType" value='open'>Open</label>
				    </div>
				    <div class="radio-inline">
						<label><input type="radio" name="studyType" value='closed' checked>Closed</label>
				    </div> 
				    <% } %>
				</div>
				<div class='col-sm-4'>
					<label for="cards">Cards</label><br><textarea name="cards" rows="15" cols="30" id="cards"><% for(var j=0; j<singleStudy.cards.length; j++) {%><%= singleStudy.cards[j]+'\n' %><% } %></textarea>
				</div>
				<div class='col-sm-4'>
					<label for="groups">Groups</label><br><textarea name="groups" rows="15" cols="30" id="groups"><% for(var j=0; j<singleStudy.groups.length; j++) {%><%= singleStudy.groups[j]+'\n' %><% } %></textarea>
				</div>
			</div>
			<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save</button>
		</form>
	</div>			
	</body>
</html>
