<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<title><%= title %> Card Sort</title>
		<!-- Include javascript for this ejs page -->
		<script type="text/javascript" src="/js/cardsort_edit.js"></script>
		<!-- Include javascript for private.ejs -->
		<script type="text/javascript" src="/js/private.js"></script>
	</head>
	<body>
	<%- include('../partials/admin_header.ejs') %>
	<div class="container">
		<h1 class="text-center"><%= title %> Card Sort</h1>
		 <%if (singleStudy.completeResponses.length > 0) { %>
		<div class="alert alert-danger">
			<h4><strong>Responses have been recieved!</strong></h4>
			<p>Making changes to study content may lead in inconsistent results.</p>
		</div>
		<% } %>

		<h2>Options</h2>
				<hr>
		<form method="POST" action="/updatecardsort">
			<input hidden name='id' value='<%= singleStudy._id %>' />
			<input hidden name='cards' id='cards' />
			<input hidden name='groups' id='groups' />
			<div class='row'>
				<div class='col-sm-4'>
					<%- include('../partials/study_options/title.ejs') %>
					<%- include('../partials/study_options/status.ejs') %>
					<div class="well">
					    <label for="title">Type</label><br>
					    <p>Set this to "open" if you want participants to be able to create their own groups.</p>
					    <%if (singleStudy.data.studyType == 'open') { %>
						    <div class="radio">
						     	<label><input type="radio" name="studyType" value='open' checked>Open Card Sort</label>
						    </div>
						    <div class="radio">
								<label><input type="radio" name="studyType" value='closed'>Closed Card Sort</label>
						    </div>
					    <% } else { %> 
						    <div class="radio">
						     	<label><input type="radio" name="studyType" value='open'>Open Card Sort</label>
						    </div>
						    <div class="radio">
								<label><input type="radio" name="studyType" value='closed' checked>Closed Card Sort</label>
						    </div></p>
					    <% } %>
					</div>
				</div>
				<div class='col-sm-4'>
					<div class="well">
						<label for="cards">Cards</label>
						<div class="input-group">
							<input id='newCardInput' type="text" class="form-control" placeholder="Enter card name...">
							<span class="input-group-btn">
								<button id='addCardBtn' class="btn btn-default" type="button">Add</button>
							</span>
						</div>
						
						<table id='cards_table' class="table compact">
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<% for(var j=0; j<singleStudy.data.cards.length; j++) {%>
								<tr>
									<td><%= singleStudy.data.cards[j] %></td>
									<td><a href="#" class="text-danger">Delete</a></td>
								</tr>
							<% } %>
						</table>
						<br>		
						<p><a href='#' onclick='addCardsFromDialog()'>Add from list</a></p>

					</div>
				</div>
				<div class='col-sm-4'>
					<%if (singleStudy.data.studyType == 'closed') { %>
					<div id='groupInputArea'>
					<% } else { %>
					<div id='groupInputArea' hidden>
					<% } %>
						<div class="well">
							<label for="cards">Groups</label>
							<div class="input-group">
								<input id='newGroupInput' type="text" class="form-control" placeholder="Enter group name...">
								<span class="input-group-btn">
									<button id='addGroupBtn' class="btn btn-default" type="button">Add</button>
								</span>
							</div>
							
							<table id='groups_table' class="table compact">
								<thead>
									<tr>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<% for(var j=0; j<singleStudy.data.groups.length; j++) {%>
									<tr>
										<td><%= singleStudy.data.groups[j] %></td>
										<td><a href="#" class="text-danger">Delete</a></td>
									</tr>
								<% } %>
							</table>	
							<br>		
							<p><a href='#' onclick='addGroupsFromDialog()'>Add from list</a></p>		
						</div>
					</div>
				</div>	
			</div>
			<div class='row'>
				<div class="col-sm-12">
				<h2>Responses</h2>
				<hr>
					<div class="well">
						<%- include('../partials/study_options/private.ejs') %>
					</div>
				</div>
			</div>

			<div class='row'>
				<div class='col-sm-4'>
					<button type="submit" class="btn btn-primary">Save</button>
					<%if (title == 'Edit') { %>
					<a href="/studies" class="btn btn-default" role="button">Cancel</a>
					<% } else {%>
					<a href="/deletestudy/<%= singleStudy._id %>" class="btn btn-default" role="button">Cancel</a>
					<% } %>
				</div>
			</div>
		</form>
		
		
	</div>			
	
	</body>
</html>
