<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>

		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>
		<script type="text/javascript" src="/js/results.js"></script>

		<title>Card Sort Results</title>

	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>
		<div class='container'>
			<a href='/studies'><i class="fa fa-chevron-left icon-sm" aria-hidden="true"></i> Back to Studies</a>
			<h1>Results for <%= study.title %></h1>
			<br>
			<div class="well">
				<%- include('../partials/resultstable.ejs') %>
			</div>
			<div class="well">
				<h3>Heatmap</h3>
				<hr>
				<div id='heatmap'></div>
			</div>

			<script>
				//https://plot.ly/javascript/heatmaps/
				var xValues = <%- JSON.stringify(cards) %>;
				var yValues = <%- JSON.stringify(groups) %>;
				var zValues = <%- JSON.stringify(matrix) %>;

				var colorscaleValue = [
				  [0, '#e2f2ff'],
				  [1, '#337ab7']
				];

				var data = [{
				  x: xValues,
				  y: yValues,
				  z: zValues,
				  type: 'heatmap',
				  colorscale: colorscaleValue,
				  showscale: false,
				}];

				var layout = {
				  title: '',
				  annotations: [],
				  xaxis: {
					ticks: '',
					side: 'top',
					fixedrange: true
				  },
				  yaxis: {
					ticks: '',
					fixedrange: true
				  }
				};

				for ( var i = 0; i < yValues.length; i++ ) {
				  for ( var j = 0; j < xValues.length; j++ ) {
					var currentValue = zValues[i][j];
					if (currentValue != 0.0) {
					  var textColor = 'white';
					}else{
					  var textColor = 'black';
					}
					var result = {
					  xref: 'x1',
					  yref: 'y1',
					  x: xValues[j],
					  y: yValues[i],
					  text: zValues[i][j],
					  font: {
						family: 'Open Sans',
						size: 12,
						color: 'rgb(50, 171, 96)'
					  },
					  showarrow: false,
					  font: {
						color: textColor
					  }
					};
					layout.annotations.push(result);
				  }
				}

				Plotly.newPlot('heatmap', data, layout, {displayModeBar: false});
			</script>

		</div>
	</body>
</html>
