<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>
		<script type="text/javascript" src="/js/resultstable.js"></script>
		<title>Card Sort Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>
		<div class='container'>
			<a href='/studies'><i class="fa fa-chevron-left icon-sm" aria-hidden="true"></i> Back to Studies</a>
			<h1>Results for <%= study.title %></h1>
			<br>
			<div class="well">
				<%- include('../partials/resultstable.ejs') %>
			</div>
			<div class="well">
				<h3>Response Matrix </h3>
				<hr>
				<table id='results_matrix'>
					<thead>
						<tr>
							<th></th>
							<% for(var k=0; k<groups.length; k++) {%>
							<th><%= groups[k] %></th>
							<% } %>
						</tr>
					</thead>
					<tbody id="results_table_body">
					<% for(var i=0; i<cards.length; i++) {%>
						<tr>
							<td><%= cards[i] %></td>
							<% for(var j=0; j<matrix[i].length; j++) {%>
							<td><%= matrix[i][j] %></td>
							<% } %>
						</tr>
					<% } %>
					</tbody>
				</table>
			</div>
 			<script>
 				$( document ).ready(function() {
					var table= $('#results_matrix').DataTable({
						dom: 'Bfrtip',
						bPaginate: false,
						bInfo: false,
					  	"scrollY": true,
					  	"scrollX": true,
				        scrollCollapse: true,
				        paging: false,
						language: {
					        search: "Filter"
					    },
						buttons: [
							{ extend: 'csvHtml5', text: 'Download CSV' }
						]

					});
 					var vals = [];

 					table.cells().every( function () {
 						if(!isNaN(this.data())){
 							vals.push(parseInt(this.data()))
						}
					    
					});

					mymin = Math.min(...vals)
					mymax = Math.max(...vals)
 					
					table.cells().every( function () {
					    if ( this.data() > 0 ) {
					    	var alpha = ((parseInt(this.data()) - mymin)) / mymax
					       $(this.node()).css('background', 'rgba(141,185,223,'+alpha+')')
					    }
					});
				});
			</script>
		</div>
	</body>
</html>
