<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<!-- include Dragula CSS (makes ghosting work)-->
		<script type="text/javascript" src="/dragula/dragula.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/dragula/dragula.min.css" />
		
		<!-- include custom global CSS -->
		<link rel="stylesheet" type="text/css" href="/css/kort.css" />
		<!-- include custom cardsort CSS -->
		<link rel="stylesheet" type="text/css" href="/css/cardsort.css" />

		<title>Cardsort</title>
	</head>
	<body>
		<input id='hiddenGroups' type='text' value="<% for(var i=0; i<singleStudy.groups.length; i++) {%><%= singleStudy.groups[i] %>;<% } %>">
		<input id='hiddenCards' type='text' value="<% for(var i=0; i<singleStudy.cards.length; i++) {%><%= singleStudy.cards[i] %>;<% } %>">
		<input id='hiddenType' type='text' value="<%= singleStudy.studyType %>">

		<form method="POST" action="/submitCardsortResult">
			<input name="id" id='id' type='text' hidden value="<%= singleStudy._id %>"></input>
			<input name="result" id='hiddenResults' type='text' hidden></input>
			<button type="submit" id='submitForm' hidden>Add</button>
		</form>
		
<!-- 		<div id="mySidenav" class="sidenav">
			<a id='closeMenu' href="javascript:void(0)" class="closebtn" >&times;</a>
			<a id='addItem' href="#">Add Item</a>
			<a id='exportJSON' href="#">Export JSON</a>
			<div class="textEntry">
				<a>Cards</a>
				<textarea id='cardsList'></textarea>
				<button id="addCardsButton">Add Cards</button>
			</div>
			<div class="textEntry">
				<a>Groups</a>
				<textarea id='groupsList'></textarea>
				<button id="addGroupsButton">Add Groups</button>
			</div>
		</div> -->

		<!-- starts Dragula object and adds onclick events for buttons -->
		<script type="text/javascript" src="../cardsort.js"></script>
		
		<nav  style='margin-bottom: 0px;' class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<span class='navbar-brand'>Cardsort</span>
			    <ul class='nav navbar-nav' id='cardsort-navbar'></ul>
				<ul class='nav navbar-nav' style='float:right'>
					<li><a href='#' id='done'>I'm Done</a></li>
				</ul>
			</div>
		</nav>

		<div id="initialColumn" class="initialColumn accepts-items nested"></div>
		<div id='dropZoneParent'></div>

	</body>
</html>
