<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<!-- include Dragula CSS (makes ghosting work)-->
		<script type="text/javascript" src="/dragula/dragula.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/dragula/dragula.min.css" />
		<!-- include custom global CSS -->
		<link rel="stylesheet" type="text/css" href="/css/kort.css" />
		<!-- include custom cardsort CSS -->
		<link rel="stylesheet" type="text/css" href="/css/cardsort.css" />

		<title>Card Sort</title>
	</head>
	<body>
		<input id='hiddenGroups' type='text' value="<% for(var i=0; i<singleStudy.data.groups.length; i++) {%><%= singleStudy.data.groups[i] %>;<% } %>">
		<input id='hiddenCards' type='text' value="<% for(var i=0; i<singleStudy.data.cards.length; i++) {%><%= singleStudy.data.cards[i] %>;<% } %>">
		<input id='hiddenType' type='text' value="<%= singleStudy.data.studyType %>">
		<input id='hiddenActive' type='text' value="<%= singleStudy.status %>">

		<form id='resultsForm' method="POST" action="/submitResult">
			<input name="id" id='id' type='text' hidden value="<%= singleStudy._id %>" />
			<input name="resid" id='resid' type='text' hidden value="<%= response %>" />
			<input name="result" id='hiddenResults' type='text' hidden>
		</form>

		<!-- starts Dragula object and adds onclick events for buttons -->
		<script type="text/javascript" src="/js/cardsort.js"></script>

		<nav class="navbar navbar-default">
			<div class="container-fluid custom_topbar">
				<span class='navbar-brand'><%= singleStudy.title %></span>
				<%if (singleStudy.data.studyType == 'open') { %>
				<ul class="navbar-nav" style="float:right">
					<button id='newGroupButton' type="button" class="btn navbar-btn"><i class='fa fa-plus' aria-hidden='true'></i>  New Group</button>
			    </ul>
				<% } %>
			</div>
		</nav>
		<div class="container-fluid">
		<div id='dropZoneParent' class="row custom-row">	
			<div id="initialColumn" class="col-md-2 initialColumn accepts-items nested">
				<button type="submit" id='done' class="btn btn-amber btn-lg" form='resultsForm'>Submit</button>
			</div>
			<div id="dropZone0" class="col-md-2 dropZone accepts-groups nested"></div>
			<div id="dropZone1" class="col-md-2 dropZone accepts-groups nested"></div>
			<div id="dropZone2" class="col-md-2 dropZone accepts-groups nested"></div>
			<div id="dropZone3" class="col-md-2 dropZone accepts-groups nested"></div>
			<div id="dropZone4" class="col-md-2 dropZone accepts-groups nested"></div>
		</div>
		</div>
	</body>
</html>
