<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<title><%= title %> Product Reaction Study</title>
		<!-- Include javascript for private.ejs -->
		<script src="/clipboard/clipboard.min.js"></script>
		<script type="text/javascript" src="/js/private.js"></script>
	</head>
	<body>
	<%- include('../partials/admin_header.ejs') %>
	<div class="container">
		<%- include('../partials/editwarning.ejs') %>
		<a href='/studies'><i class="fa fa-chevron-left icon-sm" aria-hidden="true"></i> Back to Studies</a>
		<h1><%= title %> Product Reaction Cards</h1>
		<hr>
		<form method="POST" action="/updateproductreactioncards">
			<input hidden name='id' value='<%= singleStudy._id %>' />
			<div class='row'>
				<div class='col-sm-4'>
					<%- include('../partials/study_options/title.ejs') %>
					<%- include('../partials/study_options/status.ejs') %>

					<div class="well">
						<label>Options</label>
					    <%if (singleStudy.data.randomize) { %>
					    <div class="checkbox">
					      <label><input type="checkbox" name="randomize" checked>Randomize word order</label>
					    </div>
					    <% } else { %>
					   <div class="checkbox">
					      <label><input type="checkbox" name="randomize">Randomize word order</label>
					    </div>
					    <% } %>
					</div>
				</div>
				<div class='col-sm-8'>
					<div class="well">
						<p><label for="words">Words</label>
						<br>One word per line.</p><textarea style='width:100%' name="words" rows="15" cols="30" id="words"><% for(var j=0; j<singleStudy.data.words.length; j++) {%><%= singleStudy.data.words[j]+'\n' %><% } %></textarea>
					</div>
				</div>
			</div>
						<div class='row'>
				<div class="col-sm-12">
					<div class="well">
						<%- include('../partials/study_options/private.ejs') %>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<button type="submit" class="btn btn-primary">Save</button>
					<%if (title == 'Edit') { %>
					<a href="/studies" class="btn btn-default" role="button">Cancel</a>
					<% } else {%>
					<a href="/deletestudy/<%= singleStudy._id %>" class="btn btn-default" role="button">Cancel</a>
					<% } %>
				</div>
			</div>

		</form>
	</div>			
	<%- include('../partials/footer.ejs') %>
	</body>
</html>
