<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>
		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>
		<script type="text/javascript" src="/js/results.js"></script>

		<title>Desirability Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>

		<div class='container'>
			<a href='/studies'><i class="fa fa-chevron-left icon-sm" aria-hidden="true"></i> Back to Studies</a>
			<h1>Results for <%= study.title %></h1>
			<br>
			<div class="well">
				<%- include('../partials/resultstable.ejs') %>
			</div>
			<div class="well">
				<h3>Bargraph</h3>
				<hr>
				<div id='bargraph'></div>
			</div>
		</div>
		<script>
			var data = [{
				type: 'bar',
				x: <%- JSON.stringify(counts) %>,
				y: <%- JSON.stringify(words) %>,
				orientation: 'h',
				marker: {
					color: '#337ab7',
			  	},
			}];
			var layout = {
				title: '',
				autosize: true,
				margin: {
					l: 150,
					pad: 5,
				},
				xaxis: {
					title: "Number of Selections",
				    dtick: 1,
			  	},
			};

			Plotly.newPlot('bargraph', data, layout, {staticPlot: false});
		</script>
	</body>
</html>
