<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>

		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>
		
		<script type="text/javascript" src="/datatables/jquery.dataTables.js"></script>
		<link rel="stylesheet" type="text/css" href="/datatables/css/jquery.dataTables.css" />
		<script type="text/javascript" src="/datatables-buttons/dataTables.buttons.js"></script>
		<script type="text/javascript" src="/datatables-buttons/buttons.html5.js"></script>
		<link rel="stylesheet" type="text/css" href="/datatables-buttons/buttons.dataTables.css" />


		<title>Desirability Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>
			
		<script type="text/javascript">
			$(document).ready(function() {
				$('#results_table').DataTable({
					dom: 'Bfrtip',
					buttons: [
						'csvHtml5'
					]
				});
			} );
		</script>
						
		<div class='container'>
			<table id='results_table'>
				<thead>
					<tr>
						<th>Response</th>
						<th>Date</th>
						<th>Words</th>
					</tr>
				</thead>
				<% for(var i=0; i<study.completeResponses.length; i++) {%>
					<tr>
						<td><%= i+1 %></td>
						<td><%= study.completeResponses[i].date %></td>
						<td><%= study.completeResponses[i].data %></td>
					</tr>
				<% } %>
			</table>
			
			<br><br>
			
			<div id='bargraph'></div>
		</div>
		<script>
		var data = [{
			type: 'bar',
			x: <%- JSON.stringify(counts) %>,
			y: <%- JSON.stringify(words) %>,
			orientation: 'h',
		}];
		var layout = {
			title: '<%=study.title %>  - Results',
			autosize: true,
			margin: {
				l: 150,
				pad: 5,
			},
		};

		Plotly.newPlot('bargraph', data, layout);

		</script>
	</body>
</html>
