<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>

		<link rel="stylesheet" type="text/css" href="/css/productreactioncards.css" />

        <nav class="navbar navbar-expand-lg navbar-light custom_topbar">
            <span class='navbar-brand'><%= singleStudy.title %></span>
            <ul class='nav navbar-nav'></ul>
        </nav>
	</head>
	<script>
		$(document).ready(function() {
			var words = "<% for(var i=0; i<singleStudy.data.words.length; i++) {%><%= singleStudy.data.words[i] %>;<% } %>";
			var randomize = "<%= singleStudy.data.randomize %>";
			setup(words,randomize);
		});
	</script>
	<body class="background-darkbluegray">
		<script type="text/javascript" src="/js/productreactioncards.js"/></script>
		<form method="POST" action="/submitResult">
			<input name="id" id='id' type='text' hidden value="<%= singleStudy._id %>" />
			<input name="resid" id='resid' type='text' hidden value="<%= response %>" />
			<input name="result" id='hiddenResults' type='text' hidden />
			<button type="submit" id='submitForm' hidden>Submit</button>
		</form>
		<div class='container-wide'>
			<div id="textArea">Select at least 10 cards that represent your experience with the system.</div>
			<div id="cardArea"></div>
			<button class='btn pull-right' id='nextBtn'>Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
			<button class='btn btn-lg pull-right' id='done'>Finish</button>
		</div>
	</body>
</html>
