<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<title>Edit TreeTest</title>
	</head>
	<body>
	<%- include('../partials/admin_header.ejs') %>
	<div class="container">
		<form method="POST" action="/updatetreetest">
			<input hidden name='id' value='<%= singleStudy._id %>' />
			<div class='row'>
				<div class='col-sm-4'>
					<p><label for="title">Title</label><br><input style='width:100%' name="title" id='title' type="text" value="<%= singleStudy.title %>"></input>
					</p>
					<p><label>Status</label>
   				     <%if (singleStudy.status == 'open') { %>
				    <div class="radio-inline">
				     	<label><input type="radio" name="status" value='open' checked>Open</label>
				    </div>
				    <div class="radio-inline">
						<label><input type="radio" name="status" value='closed'>Closed</label>
				    </div></p>
				    <% } else { %> 
				    <div class="radio-inline">
				     	<label><input type="radio" name="status" value='open'>Open</label>
				    </div>
				    <div class="radio-inline">
						<label><input type="radio" name="status" value='closed' checked>Closed</label>
				    </div></p>
				    <% } %>

				    <%if (singleStudy.data.selectableParents == 'on') { %>
				    <div class="checkbox">
				      <label><input type="checkbox" name="selectableParents" checked>Parents can be selected</label>
				    </div>
				    <% } else { %>
				   <div class="checkbox">
				      <label><input type="checkbox" name="selectableParents">Parents can be selected</label>
				    </div>
				    <% } %>

				    <%if (singleStudy.private == true) { %>
				    <div class="checkbox">
				      <label><input type="checkbox" name="private" checked>Private</label>
				    </div>
				    <% } else { %>
				   <div class="checkbox">
				      <label><input type="checkbox" name="private">Private</label>
				    </div>
				    <% } %>
			
				    <%if (singleStudy.data.showSiblings == 'on') { %>
				    <div class="checkbox">
				      <label><input type="checkbox" name="showSiblings" checked>Hide Siblings</label>
				    </div>
				    <% } else { %>
				   <div class="checkbox">
				      <label><input type="checkbox" name="showSiblings">Hide Siblings</label>
				    </div>
				    <% } %>
				</div>
				<div class='col-sm-4'>
					<label for="tasks">Tasks</label><br><textarea style='width:100%' name="tasks" rows="15" cols="30" id="tasks"><% for(var j=0; j<singleStudy.data.tasks.length; j++) {%><%= singleStudy.data.tasks[j]+'\n' %><% } %></textarea>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12'>
					<label for="tree">Tree</label><br><textarea style='width:100%' name="tree" rows="15" cols="30" id="tree"><% for(var j=0; j<singleStudy.data.tree.length; j++) {%><%= singleStudy.data.tree[j]+'\n' %><% } %></textarea>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<button type="submit" class="btn btn-primary">Save</button>
					<a href="/studies" class="btn btn-default" role="button">Cancel</a>
				</div>
			</div>
		</form>
	</div>			
	</body>
</html>
