<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<title>Edit TreeTest</title>
	</head>
	<body>
	<%- include('../partials/admin_header.ejs') %>
	<div class="container">
		<form method="POST" action="/updatetreetest">
			<input hidden name='id' value='<%= singleStudy._id %>' />
			<div class='row'>
				<div class='col-sm-4'>
					<p><label for="title">Title</label><br><input style='width:100%' name="title" id='title' type="text" value="<%= singleStudy.title %>"></input>
					</p>
					<p><label>Options</label></p>
				    <%if (singleStudy.active == true) { %>
				    <div class="checkbox">
				      <label><input type="checkbox" name="active" checked>Preview Only (responses cannot be submitted).</label>
				    </div>
				    <% } else { %>
				    <div class="checkbox">
				      <label><input type="checkbox" name="active">Preview Only (responses cannot be submitted).</label>
				    </div>
				    <% } %>

				    <%if (singleStudy.selectableParents == true) { %>
				    <div class="checkbox">
				      <label><input type="checkbox" name="selectableParents" checked>Parents can be selected</label>
				    </div>
				    <% } else { %>
				   <div class="checkbox">
				      <label><input type="checkbox" name="selectableParents">Parents can be selected</label>
				    </div>
				    <% } %>
			
				    <%if (singleStudy.showSiblings == true) { %>
				    <div class="checkbox">
				      <label><input type="checkbox" name="showSiblings" checked>Hide Siblings</label>
				    </div>
				    <% } else { %>
				   <div class="checkbox">
				      <label><input type="checkbox" name="showSiblings">Hide Siblings</label>
				    </div>
				    <% } %>
				</div>
				<div class='col-sm-4'>
					<label for="tasks">Tasks</label><br><textarea style='width:100%' name="tasks" rows="15" cols="30" id="tasks"><% for(var j=0; j<singleStudy.tasks.length; j++) {%><%= singleStudy.tasks[j]+'\n' %><% } %></textarea>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12'>
					<label for="tree">Tree</label><br><textarea style='width:100%' name="tree" rows="15" cols="30" id="tree"><% for(var j=0; j<singleStudy.tree.length; j++) {%><%= singleStudy.tree[j]+'\n' %><% } %></textarea>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<button type="submit" class="btn btn-primary">Save</button>
					<a href="/studies" class="btn btn-default" role="button">Cancel</a>
				</div>
			</div>

		</form>
	</div>			
	</body>
</html>
