<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<title><%= title %> Tree Test</title>
		<!-- Include javascript for private.ejs -->
		<script src="/clipboard/clipboard.min.js"></script>
		<script type="text/javascript" src="/js/private.js"></script>
	</head>
	<body>
	<%- include('../partials/admin_header.ejs') %>
	<div class="container">
		<h1><%= title %> Tree Test</h1>
		<hr>
		<form method="POST" action="/updatetreetest">
			<input hidden name='id' value='<%= singleStudy._id %>' />
			<div class='row'>
				<div class='col-sm-4'>
					<%- include('../partials/study_options/title.ejs') %>
					<%- include('../partials/study_options/status.ejs') %>
					<div class="well">
						<label for="selectableParents">Options</label>
					    <%if (singleStudy.data.selectableParents == 'on') { %>
					    <div class="checkbox">
					      <label><input type="checkbox" name="selectableParents" checked>Parents can be selected</label>
					      <p>Elements with items nested under them may not be selected as answers.</p>
					    </div>
					    <% } else { %>
					   <div class="checkbox">
					      <label><input type="checkbox" name="selectableParents">Parents can be selected</label>
					       <p>Elements with items nested under them may not be selected as answers.</p>
					    </div>
					    <% } %>

					    <%if (singleStudy.data.showSiblings == 'on') { %>
					    <div class="checkbox">
					      <label><input type="checkbox" name="showSiblings" checked>Hide Siblings</label>
					      <p>When an element is expanded, other elements on that level will be hidden. This can be useful for viewing large structures.</p>
					    </div>
					    <% } else { %>
					   <div class="checkbox">
					      <label><input type="checkbox" name="showSiblings">Hide Siblings</label>
					        <p>When an element is expanded, other elements on that level will be hidden. This can be useful for viewing large structures.</p>
					    </div>
					    <% } %>
					</div>
				</div>
				<div class='col-sm-8'>
					<div class="well">
						<p><label for="tasks">Tasks</label>
						<br>One task per line (task numbers will be added automatically).</p>
						<textarea style='width:100%' name="tasks" rows="15" cols="30" id="tasks"><% for(var j=0; j<singleStudy.data.tasks.length; j++) {%><%= singleStudy.data.tasks[j]+'\n' %><% } %></textarea>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<div class="well">
						<p><label for="tree">Tree Structure</label>
						<br>One tree node per line. Use '/' to build structure.</p>
						<textarea style='width:100%' name="tree" rows="15" cols="30" id="tree"><% for(var j=0; j<singleStudy.data.tree.length; j++) {%><%= singleStudy.data.tree[j]+'\n' %><% } %></textarea>
					</div>
				</div>	
			</div>

			<div class='row'>
				<div class="col-md-12">
					<div class="well">
						<%- include('../partials/study_options/private.ejs') %>
					</div>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-4'>
					<button type="submit" class="btn btn-primary">Save</button>
					<%if (title == 'Edit') { %>
					<a href="/studies" class="btn btn-default" role="button">Cancel</a>
					<% } else {%>
					<a href="/deletestudy/<%= singleStudy._id %>" class="btn btn-default" role="button">Cancel</a>
					<% } %>
				</div>
			</div>
		</form>
	</div>			
	</body>
</html>
