<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<title>Edit Tree Test</title>
		<!-- Include jsTree -->
		<script type="text/javascript" src="/jstree/jstree.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/jstree/themes/default/style.min.css" />
		<!-- Include javascript for private.ejs -->
		<script src="/clipboard/clipboard.min.js"></script>
		<script type="text/javascript" src="/js/private.js"></script>
		<script type="text/javascript" src="/js/treetest-edit.js"></script>
		<script type="text/javascript">
			$( document ).ready(function() {
				var treeData = <%- singleStudy.data.tree %>;
		   		init_jsTree(treeData);
			});
		</script>
	</head>
	<body>
	<%- include('../partials/admin_header.ejs') %>
	<div class="container">
		<%- include('../partials/editwarning.ejs') %>
		<a href='/studies'><i class="fa fa-chevron-left icon-sm" aria-hidden="true"></i> Back to Studies</a>
		<h1>Edit Tree Test</h1>
		<hr>
		<form id="form" method="POST" action="/updatetreetest">
			<input hidden name='id' value='<%= singleStudy._id %>'/>
			<input hidden name='treedata' id='treedata'/>
			<div class='row'>
				<div class='col-sm-4'>
					<%- include('../partials/study_options/title.ejs') %>
					<div class="well">
						<label for="selectableParents">Options</label>
					    <%if (singleStudy.data.selectableParents == 'on') { %>
					    <div class="checkbox">
					      <label><input type="checkbox" name="selectableParents" checked>Parents can be selected</label>
					      <p>Elements with items nested under them may be selected as answers.</p>
					    </div>
					    <% } else { %>
					   <div class="checkbox">
					      <label><input type="checkbox" name="selectableParents">Parents can be selected</label>
					       <p>Elements with items nested under them may be selected as answers.</p>
					    </div>
					    <% } %>

					    <%if (singleStudy.data.showSiblings == 'on') { %>
					    <div class="checkbox">
					      <label><input type="checkbox" name="showSiblings" checked>Hide Siblings</label>
					      <p>When an element is expanded, other elements on that level will be hidden. This can be useful for viewing large structures.</p>
					    </div>
					    <% } else { %>
					   <div class="checkbox">
					      <label><input type="checkbox" name="showSiblings">Hide Siblings</label>
					        <p>When an element is expanded, other elements on that level will be hidden. This can be useful for viewing large structures.</p>
					    </div>
					    <% } %>
					</div>
					<%- include('../partials/study_options/status.ejs') %>
				</div>
				<div class='col-sm-8'>
					<div class="well">
						<p><label for="tasks">Tasks</label>
						<br>One task per line (task numbers will be added automatically).</p>
						<textarea style='width:100%' name="tasks" rows="15" cols="30" id="tasks"><% for(var j=0; j<singleStudy.data.tasks.length; j++) {%><%= singleStudy.data.tasks[j]+'\n' %><% } %></textarea>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<div class="well">
						<p><label for="tree">Tree Structure</label></p>
						<p>Right click on each node to create new, rename, or delete. Drop and drag the nodes to change order and hierarchy.</p>
						<button type="button" class="btn btn-link  btn-sm float-left" id="createNewNode">+ Add Child to Selected Node</button>
						<button type="button" class="btn btn-link  btn-sm float-left" id="createNewRootNode">+ Add Root Node</button>
						<button type="button" class="btn btn-link  btn-sm float-left" id="expandAll">[+] Expand All Nodes</button>
						<div id="tree" name="tree"></div>
					</div>
				</div>
			</div>

			<div class='row'>
				<div class="col-md-12">
					<div class="well">
						<%- include('../partials/study_options/private.ejs') %>
					</div>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-4'>
					<button id="submitBtn" type="submit" class="btn btn-primary">Save</button>
					<a href="/studies" class="btn btn-default" role="button">Cancel</a>
				</div>
			</div>
		</form>
	</div>
	</body>
</html>
