<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>

		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>
		<script type="text/javascript" src="/js/results.js"></script>

		<title>Tree Test Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>

		<div class='container'>
			<h2><%= study.title %></h2>
			<div class="well">
				<%- include('../partials/resultstable.ejs') %>
			</div>
		</div>
	</body>
</html>
