<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>

		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>
		<script type="text/javascript" src="/js/results.js"></script>

		<title>Tree Test Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>
		<div class='container'>
			<a href='/studies'><i class="fa fa-chevron-left icon-sm" aria-hidden="true"></i> Back to Studies</a>
			<h1>Results for <%= study.title %></h1>
			<br>
			<div class="well">
				<%- include('../partials/resultstable.ejs') %>
			</div>
			<div class="well">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Task</th>
							<th>Responses</th>
						</tr>
					</thead>
					<tbody>
					<% for(var i=0; i < sumResp.length; i++) {%>
					<tr>
						<td><%= i+1 %></td>
						<td><%= study.data.tasks[i] %></td>
						<td>
						<% for(var j=0; j<sumResp[i].length; j++) {%>
							<p><%= sumResp[i][j] %></p>
						<% } %>		
						</td>
					</tr>
				<% } %>
				</table>
			</div>
		</div>
	</body>
</html>
