<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>

		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>
		
		<script type="text/javascript" src="/datatables/jquery.dataTables.js"></script>
		<link rel="stylesheet" type="text/css" href="/datatables/css/jquery.dataTables.css" />
		<script type="text/javascript" src="/datatables-buttons/dataTables.buttons.js"></script>
		<script type="text/javascript" src="/datatables-buttons/buttons.html5.js"></script>
		<link rel="stylesheet" type="text/css" href="/datatables-buttons/buttons.dataTables.css" />


		<title>Tree Test Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>
			
		<script type="text/javascript">
			$(document).ready(function() {
				$('#results_table').DataTable({
					dom: 'Bfrtip',
					buttons: [
						{ extend: 'csvHtml5', text: 'Save CSV' },
						{ extend: 'copy', text: 'Copy'}
					]
				});
			} );
		</script>
						
		<div class='container'>
			<table id='results_table'>
				<thead>
					<tr>
						<th>Response</th>
						<th>Date</th>
						<th>Task</th>
					</tr>
				</thead>
				<% for(var i=0; i<study.completeResponses.length; i++) {%>
					<tr>
						<td><%= i+1 %></td>
						<td><%= study.completeResponses[i].date %></td>
						<td><%= JSON.stringify(study.completeResponses[i].data) %>;</td>
					</tr>
				<% } %>
			</table>			
		</div>

	</body>
</html>
