<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>

		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>
		<script type="text/javascript" src="/js/results.js"></script>

		<title>Tree Test Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>
		<div class='container'>
			<a href='/studies'><i class="fa fa-chevron-left icon-sm" aria-hidden="true"></i> Back to Studies</a>
			<h1>Results for <%= study.title %></h1>
			<br>
			<div class="well">
				<%- include('../partials/resultstable.ejs') %>
			</div>
			<div class="well">
				<h3>Responses by Task</h3>
				<table class="table" id="treetest_table">
					<thead>
						<tr>
							<th>#</th>
							<th>Task</th>
							<!-- <th>Responses</th> -->
							<th>Chart</th>
						</tr>
					</thead>
					<tbody>
					<% for(var i=0; i < taskSet.length; i++) {%>
					<tr >
						<td><%= i+1 %></td>
						<td><%= study.data.tasks[i] %></td>
						<td>
							<div id="taskChart<%= i %>" style="height: <%= (taskSet[i].length*15)+180 %>px;">
							<script type="text/javascript">
								var layout = {
									title: '',
									autosize: true,
									margin: {
										l: 60,
										pad: 10,
									},

								};
								Plotly.newPlot('taskChart<%= i %>', [{
								  type: 'bar',
								  x: <%- JSON.stringify(taskCount[i]) %>,
								  y: <%- JSON.stringify(taskSet[i]) %>,
								  orientation: 'h',
								}],layout);
							</script>
							</div>
						</td>
					</tr>
				<% } %>
				</table>
			</div>
		</div>
	</body>
</html>
