<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>
		<script type="text/javascript" src="/js/results.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/treetest-results.css" />
		<title>Tree Test Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>
		<div class='container'>
			<a href='/studies'><i class="fa fa-chevron-left icon-sm" aria-hidden="true"></i> Back to Studies</a>
			<h1>Results for <%= study.title %></h1>
			<br>
			<div class="well">
				<%- include('../partials/resultstable.ejs') %>
			</div>
			<div class="well">
				<h3>Responses by Task</h3>
				<table class="table" id="treetest_table">
					<thead>
						<tr>
							<th>#</th>
							<th>Task</th>
							<th>Responses</th>
						</tr>
					</thead>
					<tbody>
					<% for(var i=0; i < taskSet.length; i++) {%>
					<tr>
						<td><%= i+1 %></td>
						<td><%= study.data.tasks[i] %></td>
						<td style="width:80%">
							<table class="table table-condensed">
							<% for(var j=0; j < taskSet[i].length; j++) {%>
								<tr>
									<td class="no-border"><%= taskSet[i][j] %></td>
									<td class="no-border" style="width:75%;">
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width:<%= (taskCount[i][j]/study.completeResponses.length)*100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= taskCount[i][j] %> of <%= study.completeResponses.length %> (<%= Math.floor((taskCount[i][j]/study.completeResponses.length)*100) %>%)</div>
										</div>
									</td>
								</tr>
							<% } %>
							</table>
						</td>
					</tr>
					<% } %>
				</table>
			</div>
		</div>
	</body>
</html>
