<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>

		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>

		<title>Tree Test Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>

		<script type="text/javascript">
			$(document).ready(function() {
				$('#results_table').DataTable({
					dom: 'Bfrtip',
					buttons: [
						'csvHtml5'
					]
				});
			} );
		</script>

		<div class='container'>
			<table id='results_table'>
				<thead>
					<tr>
						<th>Response</th>
						<th>Date</th>
						<th>Task</th>
					</tr>
				</thead>
				<% for(var i=0; i<study.completeResponses.length; i++) {%>
					<tr>
						<td><%= i+1 %></td>
						<td><%= study.completeResponses[i].date %></td>
						<td><%= study.completeResponses[i].data %></td>
					</tr>
				<% } %>
			</table>
		</div>

	</body>
</html>
