<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>

		<!-- Include Bootstrap Treeview -->
		<link rel="stylesheet" type="text/css" href="../bootstrap-treeview/bootstrap-treeview.min.css"/>
		<script type="text/javascript" src="../bootstrap-treeview/bootstrap-treeview.min.js"/></script>
		
		<!-- custom css -->
		<link rel="stylesheet" type="text/css" href="../treetest.css" />
	
		<title>Kort Treetest</title>
	</head>
	
	<body>


		<input id='hiddenTasks' type='text' value="<% for(var i=0; i<singleStudy.tasks.length; i++) {%><%= singleStudy.tasks[i] %>;<% } %>">
		<input id='hiddenTree' type='text' value="<% for(var i=0; i<singleStudy.tree.length; i++) {%><%= singleStudy.tree[i] %>;<% } %>">
		<input id='hiddenSelectableParents' type='text' value="<%= singleStudy.selectableParents %>">
		<input id='hiddenShowSiblings' type='text' value="<%= singleStudy.showSiblings %>">

		<script type="text/javascript" src="../treetest.js"/></script>
		
		<form method="POST" action="/submitTreetestResult">
			<input name="id" id='id' type='text' hidden value="<%= singleStudy._id %>"></input>
			<input name="result" id='hiddenResults' type='text' hidden></input>
			<button type="submit" id='submitForm' hidden>Add</button>
		</form>

		<nav  style='margin-bottom: 0px;' class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<span class='navbar-brand'>Tree Test</span>
			</div>
		</nav>

		<div id="taskDesc"></div>
	
		<ul id="taskList"></ul>
		
		<div id="treeArea">
			<!--input field hidden-->
			<input type="file" id="fileInput" style="display: none;"/>
			<!--button that redirects the click (for UI purposes)-->
			<!-- <button id="fileInputButton">Add Tasks from File</button> -->
			<button id="prevTaskButton">Previous Task</button>
			<button id="nextTaskButton">Next Task</button>
			<div id="tree"></div>
		</div>
	</body>
</html>
