<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<!-- Include JQuery -->
		<script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
		<!-- Include Bootstrap -->
		<script type="text/javascript" src="bootstrap/bootstrap-3.3.7.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap-theme.min.css"/>

		<title>Admin Page</title>
		<style>
			table, th, td {
			    border: 1px solid black;
			}

			th, td {
			    padding: 10px;
			}
		</style>
	</head>
	<body>
	<h2>Add a Study</h2>
	<form action="/createStudy" method="post">
		Title:<input type="text" name="title" value=""><br>
		Type:<input type="text" name="type" value="Cardsort"><br>
		Cards:<textarea name='cards'></textarea><br>
		Groups:<textarea name='groups'></textarea><br>
		<input id='submit' type="submit" value="Create"></input>
	</form>
	<hr>
	<h2>Available Studies </h2>
	 <table>
	 	<tr>
	 		<th>ID</th>
	 		<th>Title</th>
	 		<th>Type</th>
	 		<th>Cards</th>
	 		<th>Groups</th>
 		</tr>
		<% for(var i=0; i<studies.length; i++) {%>
			<tr>
			  <td><%= studies[i]._id %></td>
			  <td><%= studies[i].title %></td>
			  <td><%= studies[i].type %></td>
			  <td><%= studies[i].cards %></td>
			  <td><%= studies[i].groups %></td>
			   <td><a href="/deleteStudy/<%=studies[i]._id%>">delete</td>
			</tr>
		<% } %>
  	</table>
	</body>
</html>
