<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<!-- Include JQuery -->
		<script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
		<!-- Include Bootstrap -->
		<script type="text/javascript" src="bootstrap/bootstrap-3.3.7.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap-theme.min.css"/>

		<title>Admin Page</title>
		<style>
			body {
				padding-left: 25px;
			}
			table, th, td {
			    border: 1px solid black;
			}
			th, td {
			    padding: 10px;
			}
		</style>
	</head>
	<body>
	<h1>Study Management</h1>
	
	<h3>Card Sorts</h3>
	 <table>
	 	<tr>
	 		<th>ID</th>
	 		<th>Title</th>
	 		<th>Study Type</th>
	 		<th>Cards</th>
	 		<th>Groups</th>
	 		<th>Action</th>
 		</tr>
		<% for(var i=0; i<studies.length; i++) {%>
		<%if (studies[i].type == 'cardsort') { %>
				<tr>
					<td><%= studies[i]._id %></td>
					<td><%= studies[i].title %></td>
					<td><%= studies[i].studyType %></td>
					<td><%= studies[i].cards %></td>
					<td><%= studies[i].groups %></td>
					<td><a href="/deleteStudy/cardsort/<%= studies[i]._id%>">Delete</a> | <a href="/editStudy/<%= studies[i]._id%>">Edit</a> | <a href="/cardsort/<%= studies[i]._id%>">View</a></td>
				</tr>
			<% } %>
		<% } %>
	<form method="POST" action="/createStudy">
		<tr>
		<td>Create New</td>
		<td><input name='title' type="text"></td>
		<input type="hidden" name="type" value="cardsort">
		<td><input name='studyType' type="text"></td>
		<td><textarea name='cards'></textarea></td>
		<td><textarea name='groups'></textarea></td>
		<td><input type="submit" value="Create" /></td>
		</tr>
	</form>
  	</table>
  	<h3>Tree Tests</h3>
	 <table>
	 	<tr>
	 		<th>ID</th>
	 		<th>Title</th>
	 		<th>Type</th>
	 		<th>Cards</th>
	 		<th>Groups</th>
	 		<th>Action</th>
 		</tr>
		<% for(var i=0; i<studies.length; i++) {%>
		<%if (studies[i].type == 'treetest') { %>
				<tr>
					<td><%= studies[i]._id %></td>
					<td><%= studies[i].title %></td>
					<td><%= studies[i].type %></td>
					<td><%= studies[i].cards %></td>
					<td><%= studies[i].groups %></td>
					<td><a href="" onclick="deleteStudy('<%=studies[i]._id%>')">Delete</a></td>
				</tr>
			<% } %>
		<% } %>
  	</table>
  	<h3>Product Reaction Cards</h3>
	 <table>
	 	<tr>
	 		<th>ID</th>
	 		<th>Title</th>
	 		<th>Type</th>
	 		<th>Cards</th>
	 		<th>Groups</th>
	 		<th>Action</th>
 		</tr>
		<% for(var i=0; i<studies.length; i++) {%>
		<%if (studies[i].type == 'reactioncards') { %>
				<tr>
					<td><%= studies[i]._id %></td>
					<td><%= studies[i].title %></td>
					<td><%= studies[i].type %></td>
					<td><%= studies[i].cards %></td>
					<td><%= studies[i].groups %></td>
					<td><a href="" onclick="deleteStudy('<%=studies[i]._id%>')">Delete</a></td>
				</tr>
			<% } %>
		<% } %>
  	</table>
	</body>
</html>
