<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<!-- Include JQuery -->
		<script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
		<!-- Include Bootstrap -->
		<script type="text/javascript" src="bootstrap/bootstrap-3.3.7.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap-theme.min.css"/>

		<title>Admin Page</title>
		<style>
			body {
				padding-left: 25px;
			}
			table, th, td {
			    border: 1px solid black;
			}

			th, td {
			    padding: 10px;
			}
		</style>
		<script>
		function deleteStudy(id){
			if (confirm('Are you sure you want to delete the study?')) {
			    jQuery.ajax({
				    url: "/deleteStudy/"+id, 
				    type: "DELETE",
				});
			} 
		}
		function addStudy(){
			jQuery.ajax({
			    url: "/createStudy", 
			    type: "POST",
			    data: {title: $('#title').val(),
					   type: $('#type :selected').val(),
					   cards: $('#cards').val(),
					   groups: $('#groups').val(),
				},
			});
		}
	</script>
	</head>
	<body>
	<h1>Study Management</h1>
	<h3>Add new study</h3>
	<table><tr>
		<td>Create New</td>
		<td><input id='title' type="text"></td>
		<td>
			<select id='type'>
			  <option value="cardsort">Card Sort</option>
			  <option value="treetest">Tree Test</option>
			  <option value="reactioncards">Product Reaction Cards</option>
			</select>
		</td>
		<td><textarea id='cards'></textarea></td>
		<td><textarea id='groups'></textarea></td>
		<td><a href="" onclick="addStudy()">Add</a></td>
		</tr>
	</table>
	<h3>Card Sorts</h3>
	 <table>
	 	<tr>
	 		<th>ID</th>
	 		<th>Title</th>
	 		<th>Type</th>
	 		<th>Cards</th>
	 		<th>Groups</th>
	 		<th>Action</th>
 		</tr>
		<% for(var i=0; i<studies.length; i++) {%>
		<%if (studies[i].type == 'cardsort') { %>
				<tr>
					<td><%= studies[i]._id %></td>
					<td><%= studies[i].title %></td>
					<td><%= studies[i].type %></td>
					<td><%= studies[i].cards %></td>
					<td><%= studies[i].groups %></td>
					<td><a href="" onclick="deleteStudy('<%=studies[i]._id%>')">Delete</a> | <a href="/editStudy/<%=studies[i]._id%>">Edit</a></td>
				</tr>
			<% } %>
		<% } %>
  	</table>
  	<h3>Tree Tests</h3>
	 <table>
	 	<tr>
	 		<th>ID</th>
	 		<th>Title</th>
	 		<th>Type</th>
	 		<th>Cards</th>
	 		<th>Groups</th>
	 		<th>Action</th>
 		</tr>
		<% for(var i=0; i<studies.length; i++) {%>
		<%if (studies[i].type == 'treetest') { %>
				<tr>
					<td><%= studies[i]._id %></td>
					<td><%= studies[i].title %></td>
					<td><%= studies[i].type %></td>
					<td><%= studies[i].cards %></td>
					<td><%= studies[i].groups %></td>
					<td><a href="" onclick="deleteStudy('<%=studies[i]._id%>')">Delete</a></td>
				</tr>
			<% } %>
		<% } %>
  	</table>
  	<h3>Product Reaction Cards</h3>
	 <table>
	 	<tr>
	 		<th>ID</th>
	 		<th>Title</th>
	 		<th>Type</th>
	 		<th>Cards</th>
	 		<th>Groups</th>
	 		<th>Action</th>
 		</tr>
		<% for(var i=0; i<studies.length; i++) {%>
		<%if (studies[i].type == 'reactioncards') { %>
				<tr>
					<td><%= studies[i]._id %></td>
					<td><%= studies[i].title %></td>
					<td><%= studies[i].type %></td>
					<td><%= studies[i].cards %></td>
					<td><%= studies[i].groups %></td>
					<td><a href="" onclick="deleteStudy('<%=studies[i]._id%>')">Delete</a></td>
				</tr>
			<% } %>
		<% } %>
  	</table>
	</body>
</html>
