<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>


		<title>Edit Page</title>
		<style>
			body {
				padding-left: 25px;
			}
		</style>
		
	</head>
	<body>
<!-- 	<script>
		function updateStudy(){
			jQuery.ajax({
			    url: "/updateStudy/<%= study[0]._id %>", 
			    type: "POST",
			    data: {title: $('#title').val(),
			    	   type: 'cardsort',
					   cards: $('#cards').val(),
					   groups: $('#groups').val()},
			   success: function(data) {
				    alert('Load was performed.');
  				},
			});
		}
	</script> -->
	<h1>Edit</h1>
	<!-- <h4><%= study[0]._id %></h4> -->
	<input id='title' type="text" value="<%= study.title %>"></input>
	<br>
	<textarea id='cards'><%= study.cards %></textarea>
	<br>
	<textarea id='groups'><%= study.groups %></textarea>
	<br>
	<a href="" onclick="updateStudy()">Update Study</a>
	<br><br><br>
	<a href='/admin'>back to studies</a>
	</body>
</html>
