<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort</title>
		<script type="text/javascript" src="/js/index.js"></script>
	</head>
	<body class="background-white">
		<div class="container">
			<% if (logout) { %>
				<div class="alert alert-success logoutMessage">Logout successful.</div>
			<% } %>
			<% if (loginMessage.length > 0) { %>
				<div class="alert alert-danger loginMessage"><%= loginMessage %></div>
			<% } %>
			<% if (allowUserRegistration) { %>			
				<% if (createUserSuccessMessage.length > 0) { %>
					<div class="alert alert-success"><%= createUserSuccessMessage %></div>
				<% } %>
				<% if (createUserErrorMessage.length > 0) { %>
					<div class="alert alert-danger"><%= createUserErrorMessage %></div>
				<% } %>
			<% } %>
			<div class="card.card-body">
				<div class='row'>
					<div class='col-md-12'>
						<div id="siteTitle" class='text-center'>KORT</div>
					</div>
				</div>
				<div class="row">
					<div class='col-md-12'>
						<div id="siteSubtitle" class="text-center ">Tools for user experience (UX) research methods</div>
					</div>
				</div>
				<div class='row'>
					<% if (allowGoogleAuth) { %>
					<div class='col-md-4 offset-1'>
					<% } else { %>
					<div class='col-md-4 offset-4' >
					<% } %>
						<form class="form-horizontal" action="/login" method="post" id="login">
							<div class="form-group">
								<h4>Login</h4>
								<br>
								<h4 class='text-center'></h4>
								<div class="inputGroupContainer">
									<label>Email
										<input name="email" placeholder="Email" class="form-control" type="text" autofocus="autofocus" />
									</label>
							  	</div>
							</div>
							<div class="form-group">
								<div class="inputGroupContainer">
									<label>Password
										<input name="password" placeholder="Password" class="form-control" type="password" />
									</label>
							  	</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Login</button>
							</div>
						</form>
						<br>
						
						<% if (allowUserRegistration) { %>
						<div class="form-horizontal">
							<div class="form-group">
								<h4>Don't have an account?</h4>
								<button id='newLocalUserBtn' class="btn btn-secondary center-block btn-block">Sign Up</button>
							</div>
						</div>
						<% } %>
					</div>
					<% if (allowGoogleAuth && allowUserRegistration) { %>
					<div class='col-md-2'>
						<div class="vl"></div>
					</div>
					<div class='col-md-4' >
						<h4>Login with Google</h4>
						<a href="/auth/google" class="btn btn-success center-block">Register/Login with Google <span class="fa fa-google-plus"></span></a>
					</div>
					<% } %>
				</div>
			</div>	
			<% if (version.length > 0) { %>
				<a id="version" class="float-right" href="https://www.github.com/carlsonp/kort/">Version: <%= version %></a>
			<% } %>
		</div>
	</body>
</html>

