<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: Studies</title>
		 <script>
			$(document).ready(function() {
			  $('#createNewCardSortBtn').on('click', function(event) {
			      $.ajax({
			        url: '/createcardsort_ajax',
			        type: "POST",
			        contentType: "application/json",
			        success: function(study) {
			          $(`<tr>
						<td>`+study.title+`</td>
						<td>`+study.studyType+`</td>
						<td>`+study.cards.length+`</td>
						<td>`+study.groups.length+`</td>
						<td>`+study.responses.length+`</td>
						<td><a href="/cardsort/`+study._id+`">View</a></td>
						<td><a href="/cardsortresults/`+study._id+`">Results</a></td>
						<td><a href="/editcardsort/`+study._id+`"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
						<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletecardsort/`+study._id+`','`+study.title+`')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a></td>
						</tr>`).appendTo($('#cardsort_table_body'));
			  
			        },
			        error:   function(xhr, text, err) {
			          console.log("Cardsort: Please check ajax request");
			        }
			      });
			    });  

  			  	$('#createNewTreeTestBtn').on('click', function(event) {
			      $.ajax({
			        url: '/createtreetest_ajax',
			        type: "POST",
			        contentType: "application/json",
			        success: function(study) {
			          $(`<tr>
						<td>`+study.title+`</td>
						<td>`+study.tasks.length+`</td>
						<td><a href="/treetest/`+study._id+`">View</a></td>
						<td><a href="/treetestresults/`+study._id+`">Results</a></td>
						<td><a href="/edittreetest/`+study._id+`"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
						<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletetreetest/`+study._id+`','`+study.title+`')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a></td>
						</tr>`).appendTo($('#treetest_table_body'));
			  
			        },
			        error:   function(xhr, text, err) {
			          console.log("Treetest: Please check ajax request");
			        }
			      });
			    });
			    $('#createNewProductReactionBtn').on('click', function(event) {
			      $.ajax({
			        url: '/createproductreaction_ajax',
			        type: "POST",
			        contentType: "application/json",
			        success: function(study) {
			        	console.log(study)
		          	$(`<tr>
							<td>`+study.title+`</td>
							<td>`+study.words.length+`</td>
							<td>`+study.responses.length+`</td>
							<td><a href="/treetest/`+study._id+`">View</a></td>
							<td><a href="/treetestresults/`+study._id+`">Results</a></td>
							<td><a href="/edittreetest/`+study._id+`"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
							<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletetreetest/`+study._id+`','`+study.title+`')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a></td>
					</tr>`).appendTo($('#productreaction_table_body'));
			  
			        },
			        error:   function(xhr, text, err) {
			          console.log("productreactions: Please check ajax request");
			        }
			      });
			    });
			});
	    	function confirmDeleteStudy(href,studyTitle){
	    		 bootbox.confirm({
	            	size: 'small',
	            	closeButton: false,
				    message: "Delete "+studyTitle+"?",
				    buttons: {confirm: {label: 'Delete',className: 'btn-danger'},
			        		  cancel: {label: 'Cancel',className: 'btn-link'}
				    },
				    callback: function (result) {
				    	if (result){window.location.href = href}
				    }
				});
	    	}
	    </script>
	</head>
	<body>
	<%- include('partials/admin_header.ejs') %>
	<div class="container">
		<h1>Studies</h1>
		<h3>Card Sorts</h3>
	  	<table class="table table-striped">
			<thead>
				<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Cards</th>
				<th>Groups</th>
				<th>Responses</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				</tr>
			</thead>
			<tbody id="cardsort_table_body">
			<% for(var i=0; i<studies.cardsorts.length; i++) {%>
				<%if (studies.cardsorts[i].type == 'cardsort') { %>
				<tr>
					<td><%=studies.cardsorts[i].title %></td>
					<td><%=studies.cardsorts[i].studyType %></td>
					<td><%=studies.cardsorts[i].cards.length %></td>
					<td><%=studies.cardsorts[i].groups.length %></td>
					<td><%=studies.cardsorts[i].responses.length %></td>
					<td><a href="/cardsort/<%= studies.cardsorts[i]._id %>">View</a></td>
					<td><a href="/cardsortresults/<%= studies.cardsorts[i]._id %>">Results</a></td>
					<td><a href="/editcardsort/<%= studies.cardsorts[i]._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
					<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletecardsort/<%= studies.cardsorts[i]._id %>','<%=studies.cardsorts[i].title %>')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a></td>
				</tr>
				<% } %>
			<% } %>
			</tbody>
			<tbody>
				<tr style="background-color: white">
					<td>	
						<button type="button" id='createNewCardSortBtn' class="btn-link text-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
					</td>
				</tr>
			</tbody>
  		</table>
  		<h3>Tree Tests</h3>
	  	<table class="table table-striped">
			<thead>
				<tr>
				<th>Name</th>
				<th>Tasks</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				</tr>
			</thead>
			<tbody id="treetest_table_body">
			<% for(var i=0; i<studies.treetests.length; i++) {%>
				<%if (studies.treetests[i].type == 'treetest') { %>
				<tr>
					<td><%=studies.treetests[i].title %></td>
					<td><%=studies.treetests[i].tasks.length %></td>
					<td><a href="/treetest/<%= studies.treetests[i]._id %>">View</a></td>
					<td><a href="/treetestresults/<%= studies.treetests[i]._id %>">Results</a></td>
					<td><a href="/edittreetest/<%= studies.treetests[i]._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
					<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletetreetest/<%= studies.treetests[i]._id %>','<%=studies.treetests[i].title %>')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a></td>
				</tr>
				<% } %>
			<% } %>
			</tbody>
			<tbody>
				<tr style="background-color: white">
					<td>	
						<button type="button" id='createNewTreeTestBtn' class="btn-link text-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
					</td>
				</tr>
			</tbody>
  		</table>
  		<h3>Product Reaction Cards</h3>
	  	<table class="table table-striped">
			<thead>
				<tr>
				<th>Name</th>
				<th>Words</th>
				<th>Responses</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				</tr>
			</thead>
			<tbody id="productreaction_table_body">
			<% for(var i=0; i<studies.productreactions.length; i++) {%>
				<%if (studies.productreactions[i].type == 'productreaction') { %>
				<tr>
					<td><%=studies.productreactions[i].title %></td>
					<td><%=studies.productreactions[i].words.length %></td>
					<td><%=studies.productreactions[i].responses.length %></td>
					<td><a href="/productreaction/<%= studies.productreactions[i]._id %>">View</a></td>
					<td><a href="/productreactionresults/<%= studies.productreactions[i]._id %>">Results</a></td>
					<td><a href="/editproductreaction/<%= studies.productreactions[i]._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
					<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deleteproductreaction/<%= studies.productreactions[i]._id %>','<%=studies.productreactions[i].title %>')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a></td>
				</tr>
				<% } %>
			<% } %>
			</tbody>
			<tbody>
				<tr style="background-color: white">
					<td>	

						<button type="button" id='createNewProductReactionBtn' class="btn-link text-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>

					</td>
				</tr>
			</tbody>
  		</table>
  	</div>
	</body>
</html>
