<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<%- include('partials/datatables.ejs') %>
		<title>Kort: Studies</title>
	 	<script type="text/javascript" src="/js/studies.js"></script>
	 	<% if (locals.new) { %>
	 	<style type="text/css">
	 		.highlight-first-row {
			    background-color: #dff0d8 !important;
			    color: #3e8f3e;
			}
	 	</style>
	 	<% } %>
	</head>
	<body class="background-white">
	<%- include('partials/admin_header.ejs') %>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1>Studies</h1>
				<p>Create, edit, and delete studies.</p>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<div class="btn-group float-right">
				    <button type="button" class="btn btn-success dropdown-toggle float-right" data-toggle="dropdown"><i class="fa fa-plus" aria-hidden="true"></i> New Study</button>
				    <ul class="dropdown-menu pull-right" role="menu">
				      <li><a href="/createcardsort">Card Sort</a></li>
				      <li><a href="/createtreetest">Tree Test</a></li>
				      <li><a href="/createproductreactioncards">Product Reaction Cards</a></li>
				      <li><a href="/createsus">System Usability Scale (SUS)</a></li>
				      <li><a href="/createnps">Net Promoter Score (NPS)</a></li>
				    </ul>
			  	</div>
			</div>
		</div>
		<br>
		<div class="row">
		  	<table class="table" id='studies_table'>
				<thead>
					<tr class='active'>
						<th>Title</th>
						<th>Created</th>
						<th>Status</th>
						<th>Study Type</th>
						<th>Responses</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="studies_table_body">
				<% for(var i=0; i<studies.length; i++) {%>
					<tr>
						<td><%=studies[i].title %></td>
						<td><%=studies[i].getDateStr() %></td>
						<td data-status="<%=studies[i].status %>"><%=studies[i].status %></td>
						<td data-type='<%=studies[i].type %>'></td>
						<td><%=studies[i].completeResponses.length %></td>
						<%if (studies[i].type == 'cardsort') { %>
								<%if (studies[i].completeResponses.length > 0) { %>									
									<td><a class="btn btn-link" href="/cardsortresults/<%= studies[i]._id %>">Results</a></td>
								<% } else { %>
									<td></td>
								<% } %>
								<td><a class="btn btn-link" href="/editcardsort/<%= studies[i]._id %>">Edit</a></td>
								<td><a class="btn btn-link" href="/cardsort/preview/<%= studies[i]._id %>">Preview</a></td>
						<% } %>
						<%if (studies[i].type == 'treetest') { %>
								<%if (studies[i].completeResponses.length > 0) { %>									
									<td><a class="btn btn-link" href="/treetestresults/<%= studies[i]._id %>">Results</a></td>
								<% } else { %>
									<td></td>
								<% } %>
								<td><a class="btn btn-link" href="/edittreetest/<%= studies[i]._id %>">Edit</a></td>
								<td><a class="btn btn-link" href="/treetest/preview/<%= studies[i]._id %>">Preview</a></td>								
						<% } %>
						<%if (studies[i].type == 'productreactioncards') { %>
								<%if (studies[i].completeResponses.length > 0) { %>									
									<td><a class="btn btn-link" href="/productreactioncardsresults/<%= studies[i]._id %>">Results</a></td>
								<% } else { %>
									<td></td>
								<% } %>
								<td><a class="btn btn-link" href="/editproductreactioncards/<%= studies[i]._id %>">Edit</a></td>
								<td><a class="btn btn-link" href="/productreactioncards/preview/<%= studies[i]._id %>">Preview</a></td>								
						<% } %>
						<%if (studies[i].type == 'sus') { %>
								<%if (studies[i].completeResponses.length > 0) { %>									
									<td><a class="btn btn-link" href="/susresults/<%= studies[i]._id %>">Results</a></td>
								<% } else { %>
									<td></td>
								<% } %>
								<td><a class="btn btn-link" href="/editsus/<%= studies[i]._id %>">Edit</a></td>
								<td><a class="btn btn-link" href="/sus/preview/<%= studies[i]._id %>">Preview</a></td>
						<% } %>
						<%if (studies[i].type == 'nps') { %>
								<%if (studies[i].completeResponses.length > 0) { %>									
									<td><a class="btn btn-link" href="/npsresults/<%= studies[i]._id %>">Results</a></td>
								<% } else { %>
									<td></td>
								<% } %>
								<td><a class="btn btn-link" href="/editnps/<%= studies[i]._id %>">Edit</a></td>
								<td><a class="btn btn-link" href="/nps/preview/<%= studies[i]._id %>">Preview</a></td>
						<% } %>	
						<td>
							<div class="btn-group">
							    <button type="button" style="color:darkgray" class=" btn btn-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-ellipsis-h" aria-hidden="true"></i></button>
							    <ul class="dropdown-menu pull-right" role="menu">
					      			<li><a href="/study/copy/<%= studies[i]._id %>">Copy</a></li>
									<li><a href='#' data-studyid="<%= studies[i]._id %>" data-title="<%=studies[i].title %>" class="text-danger">Delete</a></li>
						    	</ul>
					  		</div>
				  		</td>
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>
  	</div>
  	<%- include('partials/footer.ejs') %>
	</body>
</html>
