<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: Studies</title>
	 	<script type="text/javascript" src="../studies.js"></script>
	</head>
	<body>
	<%- include('partials/admin_header.ejs') %>
	<div class="container">
		<div class='well'>
			<div class='studyTitle'>Card Sorts</div>
		  	<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Type</th>
						<th>Cards</th>
						<th>Groups</th>
						<th>Responses</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="cardsort_table_body">
				<% for(var i=0; i<studies.length; i++) {%>
					<%if (studies[i].type == 'cardsort') { %>
					<tr>
						<td><%=studies[i].title %></td>
						<td><%=studies[i].status %></td>
						<td><%=studies[i].data.studyType %></td>
						<td><%=studies[i].data.cards.length %></td>
						<td><%=studies[i].data.groups.length %></td>
						<td><%=studies[i].responses.length %></td>
						<td><a href="/cardsort/<%= studies[i]._id %>">View</a></td>
						<%if (studies[i].responses.length > 0) { %>
						<td><a href="/cardsortresults/<%= studies[i]._id %>">Results</a></td>
						<% } else { %>
						<td style='color:gray;' onclick="return false;" >Results</td>
						<% } %>
						<td><a href="/editcardsort/<%= studies[i]._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Edit Study"></i></a></td>
						<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletestudy/<%= studies[i]._id %>','<%=studies[i].title %>')"><i class="fa fa-trash-o fa-lg" aria-hidden="true" title="Delete Study"></i></a></td>
					</tr>
					<% } %>
				<% } %>
				</tbody>
			</table>
			<div style="background-color: white;" class='text-success'>
				<button type="button" id='createNewCardSortBtn' class="btn-link text-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
			</div>
		</div>
		<div class='well'>
	  		<div class='studyTitle'>Tree Tests</div>
		  	<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Tasks</th>
						<th>Responses</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="treetest_table_body">
				<% for(var i=0; i<studies.length; i++) {%>
					<%if (studies[i].type == 'treetest') { %>
					<tr>
						<td><%=studies[i].title %></td>
						<td><%=studies[i].status %></td>
						<td><%=studies[i].data.tasks.length %></td>
						<td><%=studies[i].responses.length %></td>
						<td><a href="/treetest/<%= studies[i]._id %>">View</a></td>
						<%if (studies[i].responses.length > 0) { %>
						<td><a href="/treetestresults/<%= studies[i]._id %>">Results</a></td>
						<% } else { %>
						<td style='color:gray;' onclick="return false;" >Results</td>
						<% } %>
						<td><a href="/edittreetest/<%= studies[i]._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Edit Study"></i></a></td>
						<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletestudy/<%= studies[i]._id %>','<%=studies[i].title %>')"><i class="fa fa-trash-o fa-lg" aria-hidden="true" title="Delete Study"></i></a></td>
					</tr>
					<% } %>
				<% } %>
				</tbody>
			</table>
			<div style="background-color: white">
				<button type="button" id='createNewTreeTestBtn' class="btn-link text-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
			</div>
		</div>
		<div class='well'>
	  		<div class='studyTitle'>Product Reaction Cards</div>
		  	<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Words</th>
						<th>Responses</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="productreaction_table_body">
				<% for(var i=0; i<studies.length; i++) {%>
					<%if (studies[i].type == 'productreaction') { %>
					<tr>
						<td><%=studies[i].title %></td>
						<td><%=studies[i].status %></td>
						<td><%=studies[i].data.words.length %></td>
						<td><%=studies[i].responses.length %></td>
						<td><a href="/productreaction/<%= studies[i]._id %>">View</a></td>
						<%if (studies[i].responses.length > 0) { %>
							<td><a href="/productreactionresults/<%= studies[i]._id %>">Results</a></td>
						<% } else { %>
							<td style='color:gray;' onclick="return false;" >Results</td>
						<% } %>
						<td><a href="/editproductreaction/<%= studies[i]._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Edit Study"></i></a></td>
						<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletestudy/<%= studies[i]._id %>','<%=studies[i].title %>')"><i class="fa fa-trash-o fa-lg" aria-hidden="true" title="Delete Study"></i></a></td>
					</tr>
					<% } %>
				<% } %>
				</tbody>
			</table>
			<div style="background-color: white">
				<button type="button" id='createNewProductReactionBtn' class="btn-link text-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
			</div>
		</div>
  	</div>
	</body>
</html>
