<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: Studies</title>
	 	<script type="text/javascript" src="/js/studies.js"></script>
	 	
	 	
	</head>
	<body>
	<%- include('partials/admin_header.ejs') %>
	<div class="container">
		<div class="btn-group float-right">
		    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
		      New Study</button>
		    <ul class="dropdown-menu pull-right" role="menu">
		      <li><a href="/createcardsort">Card Sort</a></li>
		      <li><a href="/createtreetest">Tree Test</a></li>
		      <li><a href="/createproductreactioncards">Product Reaction Cards</a></li>
		    </ul>
	  	</div>
		<h3>Studies</h3>
			<p>Create, edit, and delete studies.</p>
		  	<table class="table table-bordered" id='studies_table'>
				<thead>
					<tr class='active'>
						<th>Name</th>
						<th><a style='color:black;' href="#" data-toggle="tooltip" title="Closed studies do not allow submissions to be submitted.">Status</a></th>
						<th>Type</th>
						<th># of Responses</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="studies_table_body">
				<% for(var i=0; i<studies.length; i++) {%>	
					<tr>
						<td><%=studies[i].title %></td>
						<td><%=studies[i].status %></td>
						<td><%=studies[i].type %></td>
						<td><%=studies[i].completeResponses.length %></td>
						<%if (studies[i].type == 'Card Sort') { %>
							<td><a href="/cardsort/preview/<%= studies[i]._id %>">Preview</a></td>
							<%if (studies[i].completeResponses.length > 0) { %>
							<td><a href="/cardsortresults/<%= studies[i]._id %>">Results</a></td>
							<% } else { %>
							<td><a style='color:gray;' onclick="return false;" href="#" data-toggle="tooltip" title="Results not available until at least 1 submission completed.">Results</a></td>
							<% } %>
							<td><a href="/editcardsort/<%= studies[i]._id %>">Edit</a></td>
						<% } %>	
						<%if (studies[i].type == 'Tree Test') { %>
							<td><a href="/treetest/preview/<%= studies[i]._id %>">Preview</a></td>
							<%if (studies[i].completeResponses.length > 0) { %>
							<td><a href="/treetestresults/<%= studies[i]._id %>">Results</a></td>
							<% } else { %>
							<td><a style='color:gray;' onclick="return false;" href="#" data-toggle="tooltip" title="Results not available until at least 1 submission completed.">Results</a></td>
							<% } %>
							<td><a href="/edittreetest/<%= studies[i]._id %>">Edit</a></td>
						<% } %>	
						<%if (studies[i].type == 'Product Reaction Cards') { %>
							<td><a href="/productreactioncards/preview/<%= studies[i]._id %>">Preview</a></td>
							<%if (studies[i].completeResponses.length > 0) { %>
								<td><a href="/productreactioncardsresults/<%= studies[i]._id %>">Results</a></td>
							<% } else { %>
								<td><a style='color:gray;' onclick="return false;" href="#" data-toggle="tooltip" title="Results not available until at least 1 submission completed.">Results</a></td>
							<% } %>
							<td><a href="/editproductreactioncards/<%= studies[i]._id %>">Edit</a></td>
						<% } %>	
						<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletestudy/<%= studies[i]._id %>','<%=studies[i].title %>')">Delete</a></td>
					</tr>
				<% } %>
				</tbody>
			</table>
			
  	</div>
	</body>
</html>
