<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: Studies</title>
	 	<script type="text/javascript" src="../studies.js"></script>
	 	<style type="text/css">
	 		body {background: white;}
	 	</style>
	</head>
	<body>
	<%- include('partials/admin_header.ejs') %>
	<div class="container">
		<h3>Studies</h3>
		  	<table class="table table-border">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Type</th>
						<th>Responses</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="studies_table_body">
				<% for(var i=0; i<studies.length; i++) {%>	
					<tr>
						<td><%=studies[i].title %></td>
						<td><%=studies[i].status %></td>
						<td><%=studies[i].type %></td>
						<td><%=studies[i].completeResponses.length %></td>
						<%if (studies[i].type == 'Card Sort') { %>
							<td><a href="/cardsort/<%= studies[i]._id %>">View</a></td>
							<%if (studies[i].completeResponses.length > 0) { %>
							<td><a href="/cardsortresults/<%= studies[i]._id %>">Results</a></td>
							<% } else { %>
							<td><a style='color:gray;' onclick="return false;" href="#" data-toggle="tooltip" title="Results not available until at least 1 submission completed.">Results</a></td>
							<% } %>
							<td><a href="/editcardsort/<%= studies[i]._id %>">Edit</a></td>
						<% } %>	
						<%if (studies[i].type == 'Tree Test') { %>
							<td><a href="/treetest/<%= studies[i]._id %>">View</a></td>
							<%if (studies[i].completeResponses.length > 0) { %>
							<td><a href="/treetestresults/<%= studies[i]._id %>">Results</a></td>
							<% } else { %>
							<td><a style='color:gray;' onclick="return false;" href="#" data-toggle="tooltip" title="Results not available until at least 1 submission completed.">Results</a></td>
							<% } %>
							<td><a href="/edittreetest/<%= studies[i]._id %>">Edit</a></td>
						<% } %>	
						<%if (studies[i].type == 'Product Reaction Cards') { %>
							<td><a href="/productreactioncards/<%= studies[i]._id %>">View</a></td>
							<%if (studies[i].completeResponses.length > 0) { %>
								<td><a href="/productreactioncardsresults/<%= studies[i]._id %>">Results</a></td>
							<% } else { %>
								<td><a style='color:gray;' onclick="return false;" href="#" data-toggle="tooltip" title="Results not available until at least 1 submission completed.">Results</a></td>
							<% } %>
							<td><a href="/editproductreactioncards/<%= studies[i]._id %>">Edit</a></td>
						<% } %>	
						<td><a href='#' class="text-danger" onclick="confirmDeleteStudy('/deletestudy/<%= studies[i]._id %>','<%=studies[i].title %>')">Delete</a></td>
					</tr>
				<% } %>
				</tbody>
			</table>
			<div class="btn-group">
			    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
			    <i class="fa fa-plus" aria-hidden="true"></i>  Create</button>
			    <ul class="dropdown-menu" role="menu">
			      <li><a href="#" id='createNewCardSortBtn'>Card Sort</a></li>
			      <li><a href="#" id='createNewTreeTestBtn'>Tree Test</a></li>
			      <li><a href="#" id='createNewProductReactionCardsBtn'>Product Reaction Cards</a></li>
			    </ul>
		  	</div>
  	</div>
	</body>
</html>
