<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>

		<title>Kort: Treetests</title>
		<style>
			textarea {
				resize: none;
			}
			td {
			    padding: 5px;
			    vertical-align: top;
			}
		</style>
	  	<script>
	  	$( document ).ready(function() {
		    $('.accordion-title').click(function(event){
		  		event.target.classList.toggle("active");
		  		var panel = event.target.nextElementSibling;
		        if (panel.style.display === "block") {
		            panel.style.display = "none";
		        } else {
		            panel.style.display = "block";
		        }
		  	});
		});
		</script>
	</head>
	<body>
	
	<%- include('partials/admin_header.ejs') %>

	<div class="container">
		<h4>Tree Tests</h4>
		<% for(var i=0; i<studies.length; i++) {%>
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse<%=i%>"><%= studies[i].title %></a>
					</h4>
				</div>
			<div id="collapse<%=i%>" class="panel-collapse collapse">
				<div class="panel-body">
				
				</div>
			</div>
		</div>
		<% } %>
	</div>

	<form method="POST" action="/createtreetest">
		<button type="submit" class="btn btn-primary">Add</button>
	</form>

	</body>
</html>
