<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: Users</title>
		<script type="text/javascript" src="/js/users.js"></script>
		<meta name="Description" content="Kort manage users">
	</head>
	<body class="background-white">
	<%- include('partials/admin_header.ejs', {admin: admin}) %>
		<div class="container">
			<% if (createUserErrorMessage.length > 0) { %>
			<div class="alert alert-danger errorMessage">
			  <%= createUserErrorMessage %>
			</div>
			<% } %>
			<% if (createUserSuccessMessage.length > 0) { %>
			<div class="alert alert-success successMessage">
			  <strong>Success!</strong> <%= createUserSuccessMessage %>
			</div>
			<% } %>
			<div class="alert alert-success" style="display: none" id="password-reset-success">
				<strong>Success</strong> Password reset.
			</div>
			<div class="row">
				<div class="col-md-4">
					<h1>Users</h1>
					<p>Manage user accounts.</p>
				</div>
				<div class="col-md-4 offset-md-4">
					<button id='newUserBtn' class="btn btn-default float-right"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;New User</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table id="userstable" class='table'>
						<thead>
							<tr class='active'>
								<th>Email</th>
								<th>Type</th>
								<th>Admin</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0; i<users.length; i++) {%>
							<tr>
								<td><%= users[i].email %></td>
								<td><%= users[i].type %></td>
								<td>
									<% if (users[i].admin) { %>
										Yes
									<% } else  {%>
										No 
									<% } %>
								</td>
								<td>
									<% if (users[i].admin) { %>
										<a data-type="<%= users[i].type %>" data-userid="<%= users[i]._id %>" class='revoke-admin' href="">Revoke Admin</a>
									<% } else if (users[i].type == 'local') {%>
										<a data-type="<%= users[i].type %>" data-userid="<%= users[i]._id %>" class='grant-admin' href="">Grant Admin</a>
									<% } else { %>
									    
									<% } %>
								</td>
								<% if (users[i].type == 'local') { %>
									<td><a data-email="<%= users[i].email %>" data-id="<%= users[i]._id %>" href="" class='passwordreset'>Reset Password</a></td>
								<% } else { %>
									<td></td>
								<% } %>
								<td><a data-email="<%= users[i].email %>" data-userid="<%= users[i]._id %>" class='text-danger' href="">Delete</a></td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
