<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: User Management</title>
		<script type="text/javascript" src="/js/users.js"></script>
	</head>
	<body style="background-color: white">
	<%- include('partials/admin_header.ejs') %>
	
		<div class="container">

			<% if (createUserErrorMessage.length > 0) { %>
			<div class="alert alert-danger errorMessage">
			  <%= createUserErrorMessage %>
			</div>
			<% } %>
			<% if (createUserSuccessMessage.length > 0) { %>
			<div class="alert alert-success successMessage">
			  <strong>Success!</strong> <%= createUserSuccessMessage %>
			</div>
			<% } %>

			<h3>Users</h3>
			<p>Create and delete users.</p>
			<table class='table table-bordered'>
				<thead>
					<tr class='active'>
					<th>Email</th>
					<th></th>
					<th></th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<users.length; i++) {%>
					<tr>
						<td><%= users[i].email %></td>
						<td><a class='text-danger' href='#' onclick="confirmDelete('/deleteuser/<%= users[i]._id %>/','<%= users[i].email %>')">Delete</a></td>
						<td><a href='#' onclick="resetPassword('<%= users[i]._id %>')">Reset Password</a></td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<button id='newUserBtn' class="btn btn-success">New User</button>
		</div>
	</body>
</html>
