<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: User Management</title>
		<script type="text/javascript" src="../users.js"></script>
	 	<style type="text/css">
	 		body {background: white;}
	 	</style>
	</head>
	<body>
	<%- include('partials/admin_header.ejs') %>
		<div class="container">
			<% if (createUserErrorMessage.length > 0) { %>
				<div class="alert alert-danger errorMessage">
				  <%= createUserErrorMessage %>
				</div>
			<% } %>
			<% if (createUserSuccessMessage.length > 0) { %>
				<div class="alert alert-success successMessage">
				  <strong>Success!</strong> <%= createUserSuccessMessage %>
				</div>
			<% } %>

				<h3>Users</h3>
				<table class='table table-bordered'>
					<thead>
						<tr class='active'>
						<th>Email</th>
						<th></th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<users.length; i++) {%>
						<tr>
							<td><%= users[i].email %></td>
							<td><a class='text-danger' href='#' onclick="confirmDelete('/deleteuser/<%= users[i]._id %>/','<%= users[i].email %>')">Delete</a></td>
							
						</tr>
						<% } %>
					</tbody>
				</table>

			<p><strong>Add a User</strong></p>
				<form class="form-inline" action="/createuser" method="post">

						<div class="form-group">
							<div class="inputGroupContainer">
								<div class="input-group" style='width:100%'>
									<input name="email" autocomplete="off" placeholder="Email Address" class="form-control" type="text" />
								</div>
						  </div>
						</div>

						<div class="form-group">
							<div class="inputGroupContainer">
								<div class="input-group" style='width:100%'>
									<input  name="password" autocomplete="off" placeholder="Password" class="form-control" type="password" />
								</div>
						  </div>
						</div>

						<div class="form-group">
							<div class="inputGroupContainer">
								<div class="input-group">
									<button type="submit" class="btn btn-default" value="Create User">Create User</button>
								</div>
						  	</div>
						</div>
					
				</form>
						
			
		</div>
	</body>
</html>
