<p><label>Participant Links (URLs)</label></p>
<%if (singleStudy.completeResponses.length > 0) { %>
<p> Responses can be viewed from the results page.</p>
<% } %>
<%if (!singleStudy.private) { %>
<div class="radio">
	<label><input type="radio" name="private" value='false' checked>All participants use same link</label>
</div>
<div class="radio">
	<label><input type="radio" name="private" value='true'>Unique link for each participant</label>
</div>
<% } else { %>
<div class="radio">
	<label><input type="radio" name="private" value='false'>All participants use same link</label>
</div>
<div class="radio">
	<label><input type="radio" name="private" value='true' checked>Unique link for each participant</label>
</div>
<% } %>

<%if (singleStudy.private == false) { %>
<div id='responseSingleArea'>
<% } else { %>
<div id='responseSingleArea' hidden>
<% } %>
	<table class="table">
		<tbody>
			<tr>
				<td><%= url %>/study/<%= singleStudy._id %></td>
				<td><a href="" class="copyText" data-placement="right" data-clipboard-text="<%= url %>/study/<%= singleStudy._id %>" data-toggle="tooltip" title="Copied!">Copy</a></td>
			</tr>
		</tbody>
	</table>
</div>

<%if (singleStudy.private == true) { %>
<div id='responseListArea' >
<% } else { %>
<div id='responseListArea' hidden>
<% } %>
	<table id="responses_table" class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>URL</th>
				<th>Copy to Clipboard</th>
				<th>Delete
					(<a href="#" class='clear-responses text-danger' data-studyid="<%= singleStudy._id %>" data-title="<%= singleStudy.title %>">Delete All</a>)
				</th>
			</tr>
		</thead>
		<tbody id="responses_table_body">
		<% for(var z=0; z < incompleteResponses.length; z++) {%>
			<tr>
				<td><%= incompleteResponses[z].title %></a></td>
				<td ><a target="_blank"  href='<%= url %>/<%= singleStudy.type %>/<%= singleStudy._id %>/<%= incompleteResponses[z]._id %>'><%= url %>/<%= singleStudy.type %>/<%= singleStudy._id %>/<%= incompleteResponses[z]._id %></a></td>
				<td><a href="" class="copyText" data-placement="right" data-clipboard-text="<%= url %>/<%= singleStudy.type %>/<%= singleStudy._id %>/<%= incompleteResponses[z]._id %>" data-toggle="tooltip" title="Copied!">Copy</a></td>
				<td><a class='text-danger' data-studyid="<%= singleStudy._id %>" data-resid="<%= incompleteResponses[z]._id %>" href="">Delete</a></td>
			</tr>
		<% } %>
		</tbody>
	</table>
	<div class="input-group">
		<input id='newResponseInput' type="text" class="form-control" placeholder="Enter participant name or id">
		<span class="input-group-btn">
			<button data-studytype='<%= singleStudy.type %>' data-studyid='<%= singleStudy._id %>' data-url='<%= url %>' id='addResponseBtn' class="btn btn-default" type="button">Add</button>
		</span>
	</div>
</div>
