<p><label>Links</label></p>

<%if (!singleStudy.private) { %>
<div class="radio-inline">
	<label><input type="radio" name="private" value='false' checked>All participants use same link</label>
</div>
<div class="radio-inline">
	<label><input type="radio" name="private" value='true'>Unique link for each participant</label>
</div>
<% } else { %>
<div class="radio-inline">
	<label><input type="radio" name="private" value='false'>All participants use same link</label>
</div>
<div class="radio-inline">
	<label><input type="radio" name="private" value='true' checked>Unique link for each participant</label>
</div>
<% } %>

<%if (singleStudy.private == false) { %>
<div id='responseSingleArea'>
<% } else { %>
<div id='responseSingleArea' hidden>
<% } %>
<a target="_blank" href="<%= url %>/study/<%= singleStudy._id %>"><%= url %>/study/<%= singleStudy._id %></a>
</div>

<%if (singleStudy.private == true) { %>
<div id='responseListArea' >
<% } else { %>
<div id='responseListArea' hidden>
<% } %>
	<table class="table">
		<thead>
			<tr>
				<th>URL</th>
				<th>Complete</th>
				<th>Date Submitted</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody id="responses_table_body">
		<% for(var z=0; z < singleStudy.getAllResponses().length; z++) {%>
			<tr>
				<td><a target="_blank" href='<%= url %>/cardsort/<%= singleStudy._id %>/<%= singleStudy.getAllResponses()[z]._id %>'><%= url %>/cardsort/<%= singleStudy._id %>/<%= singleStudy.getAllResponses()[z]._id %></a></td>
				<td><%= singleStudy.getAllResponses()[z].complete %></a></td>
				<td><%= singleStudy.getAllResponses()[z].date %></a></td>
				<td><a class='text-danger' onclick="deleteResponse('<%= singleStudy._id %>','<%= singleStudy.getAllResponses()[z]._id %>',this);" href="#">Delete</a></td>
			</tr>
		<% } %>
		</tbody>
	</table>
	<button type="button" class='btn btn-default' onclick="createResponse('<%= singleStudy._id %>','<%= url %>');return false;">Add Participant Link</button>
</div>
