<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		<%- include('../partials/datatables.ejs') %>
		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>
		<script type="text/javascript" src="/js/sus-results.js"></script>
		<!-- <link rel="stylesheet" type="text/css" href="/css/progressBarAsChart.css"/> -->


		<title>System Usability Scale Results</title>
	</head>
	<body>
		<%- include('../partials/admin_header.ejs') %>
		<div class='container'>
			<a href='/studies'><i class="fa fa-chevron-left icon-sm" aria-hidden="true"></i> Back to Studies</a>
			<h1>Results for <%= study.title %></h1>
			<br>
			<div class="well">
				<h3>Raw Scores by Response</h3>
				<hr>
				<table id='raw_results_table'>
					<thead>
						<tr>
							<th>Response #</th>
							<th>Title / Name</th>
							<th>Date Submitted</th>
							<th>Q1</th>
							<th>Q2</th>
							<th>Q3</th>
							<th>Q4</th>
							<th>Q5</th>
							<th>Q6</th>
							<th>Q7</th>
							<th>Q8</th>
							<th>Q9</th>
							<th>Q10</th>
						</tr>
					</thead>
					<% for(var i=0; i<rawResponses.length; i++) {%>
						<tr>
							<td><%= i+1 %></td>
							<td><%= rawResponses[i].title %></td>
							<td><%= rawResponses[i].date.toLocaleDateString() %> (<%= rawResponses[i].date.toLocaleTimeString() %>)</td>
							<% for(var j=0; j<rawResponses[i].data.length; j++) {%>
								<td><%= JSON.stringify(Number(rawResponses[i].data[j])) %></td>
							<% } %>
						</tr>
					<% } %>
				</table>
			</div>
			<div class="well">
				<h3>Adjusted Responses with Scores by Response</h3>
				<hr>
				<table id='results_table_adjusted'>
					<thead>
						<tr>
							<th>Response #</th>
							<th>Title / Name</th>
							<th>Date Submitted</th>
							<th>Q1</th>
							<th>Q2</th>
							<th>Q3</th>
							<th>Q4</th>
							<th>Q5</th>
							<th>Q6</th>
							<th>Q7</th>
							<th>Q8</th>
							<th>Q9</th>
							<th>Q10</th>
							<th>SUS Score</th>
						</tr>
					</thead>
					<% for(var i=0; i<rawResponses.length; i++) {%>
						<tr>
							<td><%= i+1 %></td>
							<td><%= rawResponses[i].title %></td>
							<td><%= rawResponses[i].date.toLocaleDateString() %> (<%= rawResponses[i].date.toLocaleTimeString() %>)</td>
							<% for(var j=0; j<rawResponses[i].data.length; j++) {%>
								<td><%= JSON.stringify(adjustedResponses[i][j]) %></td>
							<% } %>
							<td><%= calcScores[i] %></td>
						</tr>
					<% } %>
				</table>
			</div>
			<div class="well" >
				<h3>Question Averages</h3>
				<hr>
				<table class="table" id="averages">
					<thead>
						<tr>
							<th>#</th>
							<th>Question</th>
							<th>Average Score</th>
						</tr>
					</thead>
				<% for(var i=0; i<questions.length; i++) {%>
					<tr>
						<td><%= Number(i+1) %></td>
						<td><%= questions[i] %></td>
						<td><%= Math.round(averageResponse[i]*100)/100 %></td>
					</tr>
				<% } %>
				</table>
			</div>
			<div class="well">
				<h3>Curved Grading Scale Interpretation of SUS Scores</h3>
				<p>Average SUS Score: <%= Math.round(averageSUS * 100) / 100 %></p>
				<hr>
				<table id='curved_grading_table' class="table table-condensed">
					<thead>
						<tr>
							<th>SUS Score Range</th>
							<th>Grade</th>
							<th>Percentile Range</th>
						</tr>
					</thead>
					<% for(var i=0; i<curved_grading_table.length; i++) {%>
						<%if (curved_grading_table_idx == i) { %>
						<tr class="success">
						<% } else { %>
						<tr>
						<% } %>
							<td><%= curved_grading_table[i][0] %> - <%= curved_grading_table[i][1] %></td>
							<td><%= curved_grading_table[i][2] %></td>
							<td><%= curved_grading_table[i][3] %></td>
						</tr>
					<% } %>
				</table>
				<br>
				<p>Sauro, Jeff and Lewis, James R.  2016.  <i>Quantifying the User Experience (2nd Edition).</i>  Cambridge, MA: Morgan Kaufmann. pg. 204 Table 8.5</p>
			</div>
			
			<div class="well">
				<h3>Percentile Ranks for Raw SUS Scores</h3>
				<p>Average SUS Score: <%= Math.round(averageSUS * 100) / 100 %></p>
				<hr>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Raw SUS Score</th>
							<th>Percentile Rank</th>
						</tr>
					</thead>
					<% for(var i=0; i<raw_percentile_ranks.length; i++) {%>
						<%if (raw_percentile_ranks_idx == i) { %>
						<tr class="success">
						<% } else { %>
						<tr>
						<% } %>
							<td><%= raw_percentile_ranks[i][0] %></td>
							<td><%= raw_percentile_ranks[i][1] %>%</td>
						</tr>
					<% } %>
				</table>
				<br>
				<p>Sauro, Jeff and Lewis, James R.  2016.  <i>Quantifying the User Experience (2nd Edition).</i>  Cambridge, MA: Morgan Kaufmann. pg. 203 Table 8.4</p>
			</div>
			
		</div>
	</body>
</html>
